Attributes from RFC7317

Some of the hardware and software attributes defined in Section 3.1 of [RFC7317] can be borrowed, such as platform-os version and machine.


**[2025-04-09 Base Network Inventory weekly call](https://github.com/ietf-ivy-wg/network-inventory-yang/wiki/minutes-2025-04-09)**

- [ ] @aguoietf : Review RFC7317 and the current model to check what is missing and which attribute in the current model maps with which attribute in RFC7317

RFC7317 defines attributes of a system running a Netconf server, among which the relevant attributes for system identification are:
~~~
      +--rw system
      |  +--rw contact?          string
      |  +--rw hostname?         inet:domain-name
      |  +--rw location?         string
      +--ro system-state
         +--ro platform
            +--ro os-name?       string
            +--ro os-release?    string
            +--ro os-version?    string
            +--ro machine?       string
~~~

An NE is a system and likely will run a Netconf server, so is relevant and we can add a reference in Section 3.2, Network Element, to indicate that. Furthermore,
- Contact represents the administrator contact information for the system (NE). Currently it is not modeled in IVY.
- hostname can be covered by name but name is more generic
- location is modeled separately
- The software information defined under the platform container in ietf-system is detailed. software-rev is more generic. 

Overall,
- Reference to RFC7317 can be added to Section 3.2 NE definition, indicating the NE - system similarity
- Current software version attribute can be used to cover the software specs defined by the system (unless we want more detailed software information)

~~~
(ref: current inventory model)
           +--rw ne-id                 string
           +--ro ne-type?              identityref
           +--ro uuid?                 yang:uuid
           +--rw name?                 string
           +--rw description?          string
           +--rw alias?                string
           +--ro hardware-rev?         string
           +--ro software-rev?         string
           +--ro software-patch-rev*   string
           +--ro mfg-name?             string
           +--ro mfg-date?             yang:date-and-time
           +--ro serial-number?        string
           +--ro product-name?         string
~~~

**[2025-04-21 Base Network Inventory weekly call](https://github.com/ietf-ivy-wg/network-inventory-yang/wiki/minutes-2025-04-21)**

It has been agreed that:
- The contact attribute is considered outside the scope of the base inventory model. It can be added by augmentation models when needed.
- The hostname attribute is already covered by the existing name attribute so no need to add another attribute.

More discussion is needed regarding the need to add a software-name attribute or to embed the SW name within the software-rev.

The major concern is on the real need to report the following attributes for the network-element:

```
           +--ro hardware-rev?         string
           +--ro software-rev?         string
           +--ro software-patch-rev*   string
```

The alternative approach is to report the OS name and software version within an OS SW component which is defined in [draft-ietf-ivy-network-inventory-software](https://datatracker.ietf.org/doc/html/draft-ietf-ivy-network-inventory-software)

More discussion is needed since the original intention was to split the base and the SW inventory models to allow implementing only the base inventory model


**[2025-05-28 Base Network Inventory weekly call](https://github.com/ietf-ivy-wg/network-inventory-yang/wiki/minutes-2025-05-28)**

Conclusion: every attribute in RFC7317 (with the exception of os-name, os-release and os-version) is not needed in the base network inventory model.

The discussion on the os-name, os-release and os-version is pending resolution of issue #112



**[2025-07-30 Base Network Inventory weekly call](https://github.com/ietf-ivy-wg/network-inventory-yang/wiki/minutes-2025-07-30)**

To be closed together with #44 and #112