YDR LC of draft-ietf-ivy-network-inventory-yang-11

> Document: draft-ietf-ivy-network-inventory-yang
> Title: A Base YANG Data Model for Network Inventory
> Reviewer: Reshad Rahman
> Review result: Ready with Issues
> 
> Please bear in mind that I haven't followed discussions on this document...
> 
> Issues (maybe)
> ==============
> 
> - The model is read-only and the reasoning is explained in section 6. Did the
> authors consider having a read-write model and using access control, i.e NACM.
> Section 6 states: "The information in the model is populated by controller by
> reading it
>    from the devices using the device model supported by the devices.". That is
>    one way of doing it, but another implementation may want to populate the
>    data via a read-write model?
> 
> - For the inventory I was expecting something which would tell me the "state"
> of a network element e.g. is it in production, in a lab or a spare device? I
> realize that the current expected implementation (section 6) is to read data
> from the devices so it assumes that the devices are deployed, but an inventory
> is also useful for the devices from which we can't (yet) read. Or is this use
> case deemed outside the scope of this document?
> 
> Comments/questions
> ==================
> 
> - Introduction:
>    Network
>    inventory management is a critical part for ensuring that the network
>    remains healthy (e.g., auditing to identify faulty elements)
> Do we really need inventory mgmt for ensuring that the network remains healthy?
> 
> - Terminology. The terms borrowed (MDSC, MPI etc) from RFC8453 should be
> mentioned here?
> 
> - YANG model
> 
> In grouping basic-common-entity-attributes, for "leaf name" the description
> says "If no configured value exists...". The tree is read-only so that
> description doesn't currently make sense?
> 
> parent-rel-pos,  RFC6933 has entPhysicalParentRelPos as -1 .. 2147483647 but
> parent-rel-pos starts at 0. 
> Also the description says "only when this component
> is contained in the network-element or in only 1 parent", is the 1st part
> accurate?
> 
> Ne-type why is only ne-physical defined? Couldn't the network inventory also
> have virtual appliances/devices? In the description of ne-type, spell out
> Network Element.
> 
> In grouping component-attributes, when using
> ne-component-common-entity-attributes, the refined description states "physical
> component", why is physical specified here I.e. does it have a special meaning?
> 
> base non-hardware-component-class => add the prefix of this module
> 
> - Thank you for the many examples. Have they been validated?
> 
> Regards,
> Reshad.
> 

See: https://mailarchive.ietf.org/arch/msg/ivy/bh9lEAIRANXxnnSfbC3GX1l05FY/


**[2026-01-21 Base Network Inventory weekly call](https://github.com/ietf-ivy-wg/network-inventory-yang/wiki/minutes-2026-01-21)**

> Thank you Italo and co-authors/contributors. Inline \<RR>.
>     On Monday, December 22, 2025 at 10:27:41 AM EST, Italo Busi <italo.busi@huawei.com> wrote:  
>  
>  Hi Reshad,
> 
> Thanks for your YD review and comments
> 
> We have just submitted a -12 version of the I-D addressing your comments
> 
> Please find our feedbacks in line below
> 
> Italo (on behalf of co-authors/contributors)
> 
> > -----Original Message-----
> > From: Reshad Rahman via Datatracker <noreply@ietf.org>
> > Sent: sabato 29 novembre 2025 23:32
> > To: [yang-doctors@ietf.org](mailto:yang-doctors@ietf.org)
> > Cc: [draft-ietf-ivy-network-inventory-yang.all@ietf.org](mailto:draft-ietf-ivy-network-inventory-yang.all@ietf.org); [ivy@ietf.org](mailto:ivy@ietf.org); last-
> > [call@ietf.org](mailto:call@ietf.org)
> > Subject: [Ivy] draft-ietf-ivy-network-inventory-yang-11 ietf last call Yangdoctors
> > review
> >
> 
> > Document: draft-ietf-ivy-network-inventory-yang
> > Title: A Base YANG Data Model for Network Inventory
> > Reviewer: Reshad Rahman
> > Review result: Ready with Issues
> > 
> > Please bear in mind that I haven't followed discussions on this document...
> > 
> > Issues (maybe)
> > ==============
> > 
> > - The model is read-only and the reasoning is explained in section 6. Did the
> > authors consider having a read-write model and using access control, i.e NACM.
> > Section 6 states: "The information in the model is populated by controller by
> > reading it
> >    from the devices using the device model supported by the devices.". That is
> >    one way of doing it, but another implementation may want to populate the
> >    data via a read-write model?
> 
> \<RR> Despite the response below, I still have a hard time with the paragraph above. I have no issue with the paragraph being given as an implementation suggestion, but it seems too prescriptive.
> Also, do we read the info once from devices or at regular intervals? I assume it's the latter since the info can change. What happens when a device becomes unreachable? How is that distinguished from a device which has been decommissoned?
> 

Authors: We have rephrased the sentence indicating that the information is discovered by the controller through mechanisms which are outside the scope of this document e.g., by reading it from the devices using the device model supported by the devices. How to distinguish between the cases where a NE is unreachable versus decommissioned depends on the mechanism used for discovering this information and outside the scope of this document.

> > 
> > - For the inventory I was expecting something which would tell me the "state"
> > of a network element e.g. is it in production, in a lab or a spare device? I realize
> > that the current expected implementation (section 6) is to read data from the
> > devices so it assumes that the devices are deployed, but an inventory is also
> > useful for the devices from which we can't (yet) read. Or is this use case
> > deemed outside the scope of this document?
> > 
> 
> Authors: Correct, the document is addressing only what is actually deployed. The discussion about the possibility to report also intended or planned has been postponed for a future update of this model or for a new model.
> 
> \<RR> Could you make that clear in the introduction, ideally early on.
> 
> And a comment as a potential user of the model (not as YD): only having deployed devices and only data which can be read from devices seems somewhat limiting. e.g. I can't use this model to see whether we have a spare device in a specific location.
> 

Authors: We have improved the text in the introduction.
We agree with the limitation on the supported use cases, but this is consistent with the decision to limit this version of the model to be RO and discuss in the context of future updates or augmentations additional scenarios and use cases.
We will  consider also the "spare device in a specific location" use case in the context of future updates to this model.

- [x] @italobusi Trigger some discussion on the mailing list to discuss the new "spare device in a specific location" use case

> > Comments/questions
> > ==================
> > 
> > - Introduction:
> >    Network
> >    inventory management is a critical part for ensuring that the network
> >    remains healthy (e.g., auditing to identify faulty elements) Do we really need
> > inventory mgmt for ensuring that the network remains healthy?
> > 
> 
> Authors: Yes, the operator needs to know what equipment they have in their network and where. This knowledge could be based on paper-based or a machine-based network inventory management solution.
> 
> > - Terminology. The terms borrowed (MDSC, MPI etc) from RFC8453 should be
> > mentioned here?
> > 
> 
> Authors: We have added the terminology borrowed from RFC8345.
> 
> > - YANG model
> > 
> > In grouping basic-common-entity-attributes, for "leaf name" the description
> > says "If no configured value exists...". The tree is read-only so that description
> > doesn't currently make sense?
> > 
> Authors: The value can be configured on the device by means outside the scope of this document.
> 
> See also: https://mailarchive.ietf.org/arch/msg/ivy/3LADG0Xtsnkd_lR4kHBFY-9UGRQ/
> 
> We have improved the description to clarify that we are talking about the configuration in the device and clarified in section 8 that “some information reported within this YANG data model can be configured on the device through mechanisms which are outside the scope of this document”.
> 
> \<RR> ack.
> 
> > parent-rel-pos,  RFC6933 has entPhysicalParentRelPos as -1 .. 2147483647 but
> > parent-rel-pos starts at 0. 
> 
> Authors: Our understanding is that he value -1 of the entPhysicalParentRelPos is used in SNMP to indicate an invalid value. In YANG, this is done by omitting the leaf so we do not need a -1 special value and the range can start from 0 (as done also in RFC8348).
> 
> \<RR> right, thanks for the reminder.
> 
> > Also the description says "only when this component
> > is contained in the network-element or in only 1 parent", is the 1st part
> > accurate?
> > 
> 
> Authors: A component can be contained within another component but also directly within the network element (i.e., with no parent component). The first part of the sentence is to describe the case where the component has no parent component.
> 
> > Ne-type why is only ne-physical defined? Couldn't the network inventory also
> > have virtual appliances/devices? 
> 
> Authors: Network inventory for virtual NEs is outside the scope of this document and under definition in draft-ietf-ivy-network-inventory-software
> 
> \<RR> I struggle with this a bit. A network may have both physical and virtual NEs... But if that's the WG consensus, no objections from me. Just add some text, e.g. in the intro, that the document is only for physical NEs.
> 

Authors: We have clarified in the introduction that the model supports only physical NEs and it is open to support other types of NEs.
We would avoid mentioning virtual NE since they need to be defined and this is work in progress in draft-ietf-ivy-network-inventory-software.

> Regards,
> Reshad.
> 


> * [x]  [@italobusi](https://github.com/italobusi) Trigger some discussion on the mailing list to discuss the new "spare device in a specific location" use case

See #157 


See: https://mailarchive.ietf.org/arch/msg/ivy/kDou3aytws8i1G1s-k2hPF0k2ic/