Hi, my comments as a contributor is that, support of pre-provisioning is not that complex. This is something that could be leveraged by NMDA. What is configured which presents the clients' intention is present in <intended>, and if the server cannot apply the configuration successfully (e.g., because it doesn't match the real hardware), the intention won't be present in <operational>.
A couple of IETF-published YANG has followed this way, e.g., 

- RFC 8348, regarding how the server supports pre-provisioning of hardware:
  `When the server detects a new hardware component, it
           initializes a list entry in the operational state.

           If the server does not support configuration of hardware
           components, list entries in the operational state are
           initialized with values for all nodes as detected by the
           implementation.

           Otherwise, this procedure is followed:

             1. If there is an entry in the '/hardware/component' list
                in the intended configuration with values for the nodes
                'class', 'parent', and 'parent-rel-pos' that are equal
                to the detected values, then the list entry in the
                operational state is initialized with the configured
                values, including the 'name'.

             2. Otherwise (i.e., there is no matching configuration
                entry), the list entry in the operational state is
                initialized with values for all nodes as detected by
                the implementation.`

- RFC 8345, section 4.4.10. Supporting Client-Configured and System-Controlled Network Topologies
- RFC 8343, pre-provisioning of interface configuration
  `When a system-controlled interface is created in the operational
   state by the system, the system tries to apply the interface
   configuration in the intended configuration with the same name as the
   new interface.  If no such interface configuration is found, or if
   the configured type does not match the real interface type, the
   system creates the interface without applying explicit configuration.`

- and also refer to the 8342 itself for the examples of pre-provisioning of interfaces: 
  https://datatracker.ietf.org/doc/html/rfc8342#appendix-C.3.1 